.contenido {
    display: none;
}
.fixed-top{
    position: relative;
}
#contenido{
    background: #F6F6F6;
    height: 400px;
    padding: 10px;
    border-radius: 0 20px 20px 20px;
    width: 100%;
}

.contenido1:active,.contenido1:focus{
    color: #F63854;
}
.menu{
    display: flex;
    background:#F6F6F6;
    border-radius: 10px 10px 0 0;
    width: 400px;
}
.menu a{
    color: black;
}
.contienetodo{
    background: white;
}
.contenido li div{
    width: 100px;
}
.contenido .tecnico{
    width: 200px;
}

.servicios{
    width: 100%;
}

.contienetodo {
    padding: 20px;

}

.contenido li{

    display: flex;
    justify-content: space-between;
}

.contenido li a{
    margin: 10px;
    font-size: 1rem;
}


 @media (max-width: 500px) {
     .tecnico{

        display: none;
     }

     .contenido li div{
         width: 100%;
     }

     .menu{
         flex-direction: column;
         width: 200px;
     }
 }


.equipoList{
    background: #eaeaea;
    transition: .5s;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.equipoList:hover{
    transform: scale(1.01);
    transition: .5s;

}

.menu a{
    padding-bottom: 2px;
}
